body {
    background-color: #4f594e;
    margin-bottom: 500px;
}

.page {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    

    .axel {
        color: #fff;
        font-family: "Cormorant Garamond", serif;
        font-size: 24px;
        font-weight: 500;
        margin-top: 50px;
        margin-bottom: 223px;
    }
    .img {
        width: 800px;
        height: 900px;
    }
    .coming{
        color: #fff;
        font-family:"Cormorant Garamond", serif; 
        font-size: 104px;
        font-weight: 600;
        position: absolute;
        top: 221px;
    }
    .contact-container{
        margin-top: 8%;
        width: 32%;
    .contact{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        color: #fff;
    }
}
.logos{
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
}
}

